/* 
font-family: ;
font-family: 'Noto Serif', serif;
font-family: 'Roboto', sans-serif;
*/

body {
  background: #343438;
  font-family: 'Roboto', sans-serif, 'helvetica neue', Lato;
  width: 100%;
  margin: 0;
  padding: 0;
}

.loading-screen {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  background-color: #D34740;
  width: 0%;
  height: 100%;
}

.load-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  pointer-events: none;
}

.animationPage {
  max-width: 550px;
  max-height: 650px;
  margin: 0 auto;
}

.textHome {
  margin-left: 10%;
}

.shit {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  margin-top: -75%;
  letter-spacing: 22px;
  display: inline-block;
  width: 60px;
  border: 7px solid #E5979B;
  box-shadow: 0 0 2px rgba(237, 207, 97, 0.8), inset 0 0 2px rgba(255, 188, 87, 0.19);
  border-radius: 120px;
  padding-left: 25%;
  padding-right: 20%;
  padding-bottom: 10%;
  padding-top: 70%;
  font-size: 59px;
  font-weight: 700;
  color: #E6EAE6;
}

.homeInstructionOne {
  font-family: 'helvetica neue', Lato;
  font-size: 28px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 0;
  color: #EDCF61;
  line-height: 2rem;
  font-weight: 300;
  margin-left: 10%;
  margin-top: 30%;
  z-index: 1;
  width: 280px;
}

.InstructionPage {
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
}

.close-modal {
  margin: auto;
  margin-top: 10%;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  border: none;
  background-color: #E3E3E3;
  color: #252423;
  font-weight: 500;
  letter-spacing: 4px;
  font-size: 14px;
  line-height: 1.5rem;
  padding: 10px;
  width: 160px;
  border-bottom: 2px solid rgba(255, 78, 24, 0.796);
  transition: 0.2s;
}

.sorry {
  text-transform: uppercase;
  font-size: 28px;
  color: rgba(255, 78, 24, 0.796);
  padding-bottom: 2%;
  display: inline-block;
  padding-top: 20%;
}

.close-modal:hover {
  background-color: rgba(255, 78, 24, 0.796);
  border-top: 1px solid #252423;
  border-left:1px solid #252423;
  cursor: pointer;
  color: #252423;
}

.alert-second {
  line-height: 1.8rem;
  width: 100%;
  height: 600px;
  background-color: #252423f0;
  font-family: 'Noto Serif', serif;
  font-weight: 300;
  font-size: 22px;
  padding-top: 5%;
  text-align: center;
  color: #E3E3E3;
  border: 5px solid #E3E3E3;
  position: absolute;
  top: 0;
  margin: auto;

}

.chosen-contacts-fund {
  background-color: #E3E3E3;
  padding: 4px;
  padding-left: 0;
  font-size: 14px;
  width: 250px;
  letter-spacing: 3px;
  margin: auto;
  margin-top: 20px;
  color: #252423;
  line-height: 0.9rem;
  text-align: center;
  font-weight: 700;
}

.alertBtnClose.alert-two {
  margin: auto;
  display: block;
  margin-top: 20%;
}

.alert-second.staySafe {
  color: #E3E3E3;
  width: 100%;
  height: 700px;
  top: 0;
  padding-bottom: 0;
  padding-top: 0;
  left: 0;
}

.alert-second.staySafe button {
  margin-top: 15px;
}

.homeInstructionTwo {
  margin: auto;
  font-size: 28px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  color: #E5979B;
  font-weight: 400;
  line-height: 2.2rem;
  width: 300px;
  text-align: left;
  padding-top: 2%;
  padding-left: 4%;
  margin-top: 10%;
}

span.before {
  font-family: 'Roboto', sans-serif;
  color: #4F66D1;
  font-weight: 500;
  font-size: 48px;
  width: 340px;
  padding-bottom: 0;
  margin-bottom: -4%;
}

.underline {
  border-bottom: 1px solid #D34740;
  margin-bottom: 2px;
  padding-bottom: 1px;
}

.homeInstructionThree {
  margin: auto;
  font-size: 12px;
  width: 380px;
  letter-spacing: 3px;
  margin-top: 8%;
  color: #FDED7A;
  line-height: 0.9rem;
  text-align: center;
  font-weight: 300;
}

.icon {
  padding: 4px;
  margin-left: 2px;
}

.download {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  margin-top: 10%;
  margin-bottom: 2%;
  border: none;
  background-color: #343438;
  color: #B1D2F1;
  font-weight: 500;
  letter-spacing: 4px;
  font-size: 14px;
  line-height: 1.5rem;
  padding: 10px;
  width: 160px;
  border-bottom: 3px solid #4F66D1;
  border-right: 2px solid #4F66D1;
  transition: 0.4s;
}

.download:after {
  content: 'I DID IT!';
}

.download:hover:after{
  content: 'STAY SAFE ♡';
  font-size: 12px;
}

.download:hover {
  border: 3px solid #B1D2F1;
  cursor: pointer;
  color: #E3E3E3;
}

.upButtons {
  width: 100%;
  background-color: #D34740;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo {
  color: #343438;
  margin-top: 0;
  margin-left: 0;
  padding-left: 30px;
  letter-spacing: 2px;
  font-size: 11px;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
}

.logo:hover {
  color: #FF9376;
  letter-spacing: 3px;
}

.loginPage {
  margin: 0 auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.center {
  display: inline-block;
}

.twitterLogin {
  font-family: 'helvetica neue', Lato;
  margin-top: 35%;
  margin-bottom: 5%;
  border:none;
  text-transform: uppercase;
  background-color: #979391;
  border-bottom: 4px solid #33703C;
  border-right: 3px solid #33703C;
  color: #343438;
  font-weight: 500;
  letter-spacing: 4px;
  font-size: 16px;
  line-height: 1.5rem;
  padding: 12px;
  width: 320px;
  border-radius: 5px;
  transition: 0.2s;
}

.twitterLogin:after {
  content: 'Login with Twitter';
}

.twitterLogin:hover:after {
  content: 'Login with Twitter»';
}

.twitterLogin:hover {
  background-color: #EDCF61;
  cursor: pointer;
  border: 2px solid #252423;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(255, 188, 87, 0.19);
  color: #343438;
}

.loginInstruction {
  font-family: 'helvetica neue', Lato;
  font-size: 16px;
  letter-spacing: 2px;
  text-align: center;
  /* margin-top: -2%; */
  color: #E3E3E3;
  line-height: 1.2rem;
}

.loginInstructionTwo {
  background-color:  #E3E3E3;
  font-size: 16px;
  width: 320px;
  letter-spacing: 3px;
  margin-top: 40%;
  color:  #252423;
  line-height: 0.9rem;
  text-align: center;
  font-weight: 700;
}

.twitter {
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 3%;
  color: #E3E3E3;
  line-height: 1.4rem;
  width: 210px; 
  text-decoration: none;
}

.navLinks {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-top:0;
  background-color: #E5979B;
}

.goToNext {
  color: #343438;
  letter-spacing: 2px;
  font-size: 12px;
  display: inline-block;
  margin-left: 30px;
  text-transform: uppercase;
  text-decoration: none;
}

.goBack {
  color: #343438;
  letter-spacing: 2px;
  font-size: 12px;
  display: inline-block;
  padding-left: 30px;
  text-transform: uppercase;
  text-decoration: none;
}

.goBackEnd {
  color: #343438;
  letter-spacing: 2px;
  font-size: 12px;
  display: inline-block;
  margin-left: 30px;
  text-transform: uppercase;
  text-decoration: none;
}

.goToNext:hover {
  color: #D34740;
}

.goBack:hover {
  color: #D34740;
}

.goBackEnd:hover {
  color: #D34740;
}

.generalpage {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.secondPage {
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
}

.thirdPage {
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
}

.step {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 2%;
  display: inline-block;
  margin-left: 10%;
  font-size: 28px;
  text-align: left;
  width: 300px;
  line-height: 1.8rem;
  margin-left: 1%;
  letter-spacing: 2px;
  color: #4F66D1;
  margin-top: 10%;
}

input {
  margin-top: 5%;
  width: 280px;
  border: none;
  color: #E3E3E3;
  border: none;
  border-bottom: 3px solid #EDCF61;
  background-color: #343438;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 200;
  border-radius: 10px;
  font-size: 16px;
  padding: 14px;
  font-weight: 400;
  outline:none;
}

.selectFundBtn {
  background-color: #343438;
  color: #E3E3E3;
  border-bottom: 3px solid #D34740;
  margin-top: 2%;
  margin-left: 2%;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  width: 150px;
  line-height: 1.3rem;
  display: inline-block;
  padding-bottom: 4%;
}

.selectFundBtn:hover {
  cursor: pointer;
  background-color: #EDCF61;
  color: #252423;
}

.search-form {
  display: inline-block;
}

 .suggestions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #E3E3E3;
  font-size: 14px;
  line-height: 1.2rem;
  padding-left: 6%;
  padding-right: 3%;
} 

.listResults {
  margin-right: 4%;
}

.contactSuggestions {
  margin-left: 2%;
  margin-bottom: 10%;
  color: #E3E3E3;
  font-size: 14px;
  line-height: 1.2rem;
  padding-left: 1%;
  padding-right: 3%;
  width: 250px;
}

span.phone {
  color: #D34740;
  font-weight: 500; 
  letter-spacing: 1px;
  /* padding-top: 2%; */
}

span.place {
  line-height: 1.2rem;
  margin-right: 1%;
  margin-top: 1%;
  margin-left: 3%;
}

.hl {
  background: #E3E3E3;
  color: #252423;
}

.contact-list {
  background-color: #343438;
  color: #E3E3E3;
}

.contact-detail {
  background-color: #343438;
  color: #E3E3E3;
  border: none;
  border-bottom: 3px solid #D34740;
  margin-top: 2%;
  margin-left: 2%;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  width: 150px;
}

.contact-detail:hover {
  cursor: pointer;
  background-color: #EDCF61;
  color: #252423;
}

.chosen-contacts {
  text-align: center;
  margin-top: 4%;
}

.chosen-contactsNames {
  background-color: #E3E3E3;
  padding: 4px;
  padding-left: 0;
  font-size: 14px;
  width: 250px;
  letter-spacing: 3px;
  margin-top: 20px;
  margin: auto;
  color: #33703C;
  line-height: 0.9rem;
  text-align: center;
  font-weight: 700;
}

.remove {
  background-color: #E3E3E3;
  border: none;
  margin-left: 2%;
  padding-top: -2%;
}

.remove:hover {
  transform: rotate(5deg);
  cursor: pointer;
}

.goToNextTwo {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    margin-top: 10%;
    margin-bottom: 2%;
    border: none;
    background-color: #343438;
    color: #B1D2F1;
    font-weight: 500;
    letter-spacing: 4px;
    font-size: 14px;
    line-height: 1.5rem;
    padding: 10px;
    width: 160px;
    border: 1px solid #4F66D1;
    transition: 0.4s;
}

.goToNextTwo:hover {
  border: 1px solid #B1D2F1;
  cursor: pointer;
  color: #E3E3E3;
}

.finalPage {
  max-width: 530px;
  max-height: 700px;
  margin: 0 auto;
}

.safe {
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  color: #343438;
  font-weight: 500;
  font-size: 64px;
  width: 230px;
  animation:colorchange 60s infinite alternate;
  -webkit-text-stroke: 1px #343438;
}

@-webkit-keyframes colorchange {
  0% {
    -webkit-text-stroke: 1px #343438;
  }
  20% {
    -webkit-text-stroke: 1px #B1D2F1;
  }
  50% {  
    -webkit-text-stroke: 1px #4F66D1;
  }
  80% {
    -webkit-text-stroke: 1px #33703C;
  }
  100% {
    -webkit-text-stroke: 1px #EDCF61;
  }
}

.buttons {
  display: flex;
  margin-top: 28%;
}

.bailDiv {
  margin-right: 3%;
  margin-left: 5%;
}

.smsDiv {
margin-left: 3%;
margin-right: 4%;
}

.telBail {
  text-decoration: none;
}

.callBail {
  font-family: 'Roboto', sans-serif;
  transform: rotate(5deg);
  display: block;
  font-size: 16px;
  width: 140px;
  line-height: 1.5rem;
  color: #EDCF61;
  background-color: #48484d;
  text-transform: uppercase;
  font-weight: 600;
  padding-left: 35px;
  padding-right: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
  letter-spacing: 2px;
  border: 5px solid #E5979B;
  border-radius: 100%; 
  margin-bottom: 4%;
  text-align: center;
}

.callBail:hover {
  cursor: pointer;
  border: 5px solid  #33703C;
  background-color: #343438;
  color: #D34740;
}

.storedDataInfo {
  font-family: 'Roboto', sans-serif;
  color: #E3E3E3;
  font-size: 13px;
  width: 200px;
  margin-left: 6%;
  line-height: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
}

.storedData {
  color: #E3E3E3;
  font-size: 11px;
  margin-top: 2%;
  padding: 5px;
  letter-spacing: 2px;
  line-height: 1.1rem;
  text-align: center;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  text-align: left;
}

.SMS {
  font-family: 'Roboto', sans-serif;
  transform: rotate(-5deg);
  font-size: 16px;
  width: 150px;
  color: #EDCF61;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #48484d;
  padding-left:35px;
  padding-right: 80px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  letter-spacing: 2px;
  line-height: 1.5rem;
  border: 5px solid #E5979B;
  border-radius: 100%; 
  margin-bottom: 4%;
  margin-left: 2%;
}

.SMS:hover {
  cursor: pointer;
  border: 5px solid  #33703C;
  background-color: #343438;
  color: #D34740;
}

.msg {
  font-family: 'Roboto', sans-serif;
  color: #E3E3E3;
  font-size: 14px;
  width: 200px;
  line-height: 1.2rem;
}

.sent {
  color: #EDCF61;
  padding: 10px;
  width: 300px;
  margin-left: 38%;
  font-weight: 400;
  margin-top: 6%;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.alert {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 2%;
  right: 0;
  background-color: #979391c1;
  width: 350px;
  height: 500px;
  border: 3px solid #33703C;
  border-radius: 5px;
}

.oh {
  color: #343438;
  font-size: 32px;
  margin-bottom: -4%;
  font-family: 'Roboto', sans-serif;
}

.OnNo {
  font-family: 'Roboto', sans-serif;
  color: #EDCF61;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 0;
  font-size: 22px;
  width: 350px;
  padding-top: 2%;
  margin-bottom: 2%;
  letter-spacing: 2px;
  line-height: 2rem;
  padding-right: 2%;
  text-align: center;
  margin-top: 5%;
}

.contartsMSG {
  text-transform: uppercase;
}

.contact-listAlert {
  font-family: 'Roboto', sans-serif;
  color: #E3E3E3;
  width: 160px;
  line-height: 1.2rem;
  font-weight: 400;
  font-size: 13px;
  text-align: left;
  padding-right: 2%;
}

.contact-reminder {
  color:#33703C;
  background-color: #E3E3E3;
  font-size: 11px;
  margin-top: 2%;
  padding: 5px;
  letter-spacing: 2px;
  line-height: 0.9rem;
  text-align: center;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;

}

.msgContent {
  color: #E3E3E3;;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin-left: 4%;
  width: 290px;
  line-height: 1.3rem;
  font-weight: 500;
}

.alertBtnDiv {
  max-width: 350px;
  display: flex;
  margin-left: 10%;
  margin-top: 7%;
}

.alertBtn {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  margin-top: 5%;
  border: none;
  margin-right: 5%;
  background-color: #B4B2B0;
  color: #252423;
  font-weight: 500;
  letter-spacing: 4px;
  font-size: 10px;
  line-height: 1.5rem;
  padding: 10px;
  width: 160px;
  border: 2px solid #EDCF61;
  transition: 0.2s;
  font-weight: 700;
}

.alertBtn:hover {
  background-color: #252423;
  border: 1px solid #EDCF61;
  cursor: pointer;
  color: #EDCF61;
}

.alertBtnClose {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  margin-top: 5%;
  border: none;
  margin-right: 5%;
  background-color: #B4B2B0;
  color: #252423;
  font-weight: 500;
  letter-spacing: 4px;
  font-size: 10px;
  line-height: 1.5rem;
  padding: 10px;
  width: 160px;
  border: 2px solid #EDCF61;
  transition: 0.2s;
  font-weight: 700;
}

.alertBtnClose:hover {
  background-color: #252423;
  border: 1px solid #EDCF61;
  cursor: pointer;
  color: #EDCF61;
}

.staySafe {
  font-family: 'Roboto', sans-serif;
  color: #D34740;
  font-weight: 300;
  text-transform: uppercase;
  padding-bottom: 0;
  font-size: 32px;
  width: 350px;
  padding-top: 30%;
  margin-bottom: 2%;
  letter-spacing: 2px;
  line-height: 2rem;
  padding-right: 2%;
  text-align: center;
  -webkit-text-stroke: 1px #E5979B;
}

.closing {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color:  #D34740;
  font-size: 22px;
  width: 250px;
  margin-top: 10%;
  margin-left: 12%;
  line-height: 1.6rem;
  text-align: center;
}
