/* colors:
redOrang: #FF4C18
lightBlue-grey: #abbbe5
yellow:  #FADD20;
brown: #6B5644
pink: #FF7FF1
red: #FF0501
greeen: #63FFC4
peach: #FEA7A7
font-family: 'helvetica neue', Lato;

purpple: #5803ff
yellow: ##FEFF00
black: #252423
grey: 244,244,244
grey2: #E3E3E3

font-family: 'Noto Serif', serif;
font-family: 'Roboto', sans-serif;
*/

body {
  background: #5803ff;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  margin: 0;
}

.demo {
  margin-left: 70%;
}

.homePage {
  max-width: 500px;
  max-height: 650px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.textHome {
  padding-left: 3%;
  font-family: 'Noto Serif', serif;
  margin-top: 0;
  width: 400px;
}

.shit {
  text-align: left;
  margin-top: -85%;
  margin-left: 28%;
  letter-spacing: 10px;
  display: inline-block;
  width: 50px;
  border: 7px solid #252423d3;
  padding: 12%;
  padding-left: 20%;
  padding-right: 18%;
  padding-top: 80%;
  font-size: 60px;
  /* font-weight: 700; */
  color: #E3E3E3;
}

.homeInstructionOne {
  font-size: 26px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-left: 3%;
  padding-right: 5px;
  margin-top: 0;
  color: #FF4C18;
  line-height: 1.8rem;
  width: 190px;
  padding-top: 6%;
  font-weight: 700;
}

.going {
  letter-spacing: 4px;
  display: block;
  width: 100px;
  font-size: 12px;
  padding: 10%;
  padding-bottom: 12%;
  padding-right: 35%;
  padding-left: 10%;
  border: 5px solid #FEFF00;
  margin-top: -20%;
  margin-left: 20%;
  margin-bottom: -12%;
  color: #252423;
  text-align: right;
}

.down {
  letter-spacing: 4px;
  display: inline-block;
  width: 30px;
  margin-left: 30%;
  margin-top: -800%; 
  font-size: 110px;
  font-weight: 700;
  /* padding: 10%;
  padding-right: 60%;
  padding-left: 12%;
  padding-top: 10%; */
  /* border: 4px solid rgb(223, 255, 127); */
  text-align: right;
  color: #5803ff;
  transform-origin: 0 0;
  transform: rotate(90deg);
  /* background-color: #E3E3E3; */
  -webkit-text-stroke: 3px #252423;
}

.InstructionPage {
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
}

.bgInstruction {
  background-color: #E3E3E3;
  border: 5px solid #FEFF00;
  display: inline-block;
  padding-left: 5%;
  padding-right: 3%;
  padding-bottom: 5%;
  margin-top: -5%;

}

.homeInstructionTwo {
  font-size: 28px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  color: #252423;
  font-weight: 700;
  line-height: 2rem;
  width: 250px;
  text-align: left;
  padding-top: 2%;
  padding-left: 4%;
}

span.before {
  padding-bottom: 3px;
  -webkit-text-stroke: 1px #252423;
  font-family: 'Roboto', sans-serif;
  color: #E3E3E3;
  font-weight: 500;
  font-size: 42px;
  width: 320px;
}

.homeInstructionThree {
  font-size: 12px;
  color: rgba(255, 78, 24, 0.796);;
  line-height: 1rem;
  width: 350px;
  margin-top: 7%;
  margin-bottom: 1%;
  text-align: left;
}

.icon {
  padding: 4px;
  margin-left: 2px;
  /* border: 1px solid #b5c0dd3b; */
}

.download {
  display: inline-block;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 4%;
  background-color: #5803ff;
  border: 2px solid #FF4C18;
  color: #E3E3E3;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 14px;
  line-height: 1.5rem;
  padding: 10px;
  width: 180px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(255, 188, 87, 0.19);
  transition: 0.2s;
}

.download:after {
  content: 'I DID IT!';
}

.download:hover:after{
  content: 'STAY SAFE ♡';
  font-size: 12px;
}

.download:hover {
  background-color: #FEFF00;
  border: 2px solid #FF7FF1;
  cursor: pointer;
  color: #252423;
}

.upButtons {
  width: 100%;
  background-color: #FEFF00;
  padding-top: 4px;
  padding-bottom: 4px;
}

.logo {
  color:  #5803ff;
  margin-top: 0;
  margin-left: 0;
  padding-left: 5%;
  letter-spacing: 2px;
  font-size: 11px;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
}

.logo:hover {
  color: rgb(255, 69, 1, 0.8);
}

.loginPage {
  margin: 0 auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.center {
  display: inline-block;
}

/* .loginText {
  font-family: 'Noto Serif', serif;
  letter-spacing: 4px;
  display: inline-block;
  width: 30px;
  margin-left: 25%;
  margin-top: -85%; 
  font-size: 100px;
  font-weight: 700;
  text-align: right;
  transform-origin: 0 0;
  transform: rotate(90deg);
  -webkit-text-stroke: 2px #FEFF00;
  color: #252423;
} */

.twitterLogin {
  font-family: 'Noto Serif', serif;
  margin-top: 35%;
  margin-bottom: 5%;
  text-transform: uppercase;
  background-color: #252423;
  border: 4px solid #FEFF00;;
  color: #E3E3E3;
  font-weight: 500;
  letter-spacing: 3px;
  font-size: 18px;
  line-height: 1.5rem;
  padding: 14px;
  width: 320px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(255, 188, 87, 0.19);
  transition: 0.3s;
}

.twitterLogin:after {
  content: 'Login with Twitter';
}

.twitterLogin:hover:after {
  content: 'Login with Twitter »';
}

.twitterLogin:hover {
  background-color: rgb(255, 69, 1, 0.8);
  cursor: pointer;
  border: 4px solid #FEFF00;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(255, 188, 87, 0.19);

}

.loginInstruction {
  font-size: 16px;
  letter-spacing: 2px;
  text-align: center;
  /* margin-top: 3%; */
  color: #E3E3E3;
  line-height: 1.2rem;
}

.loginInstructionTwo {
  background-color:  #E3E3E3;
  font-size: 16px;
  width: 320px;
  letter-spacing: 3px;
  margin-top: 15%;
  color:  #252423;
  line-height: 0.9rem;
  text-align: center;
  font-weight: 700;
}

.twitter {
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 3%;
  color: white;
  line-height: 1.4rem;
  width: 210px; 
  text-decoration: none;
}

.navLinks {
  /* display: flex; */
  width: 100%;
  /* padding: 3%; */
  padding-top:0;
  background-color: rgba(0, 0, 0, 0.563);
  
}

.goToNext {
  color: #fff;
  letter-spacing: 2px;
  font-size: 12px;
  padding: 4%;
  display: inline-block;
  margin-left: 3%;
  text-transform: uppercase;
  text-decoration: none;
}

.goBack {
  color: #fff;
  letter-spacing: 2px;
  font-size: 12px;
  padding: 4%;
  display: inline-block;
  padding-left: 3%;
  text-transform: uppercase;
  text-decoration: none;
}

.goToNext:hover {
  color: rgb(223, 255, 127);
}

.goBack:hover {
  color: rgb(223, 255, 127);
}

.generalpage {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.secondPage {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}

.thirdPage {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}

.step {
  font-weight: 300;
  text-transform: uppercase;
  margin-right: 8%;
  margin-bottom: 10%;
  padding-bottom: 0;
  color: #fff;
  font-size: 14px;
  width: 300px;
  line-height: 1.4rem;
  margin-left: 1%;
}

.selectFundBtn {
  cursor: pointer;
  font-size: 13px;
  background-color: rgb(63, 74, 87);
  margin-left: 1%;
  margin-top: 1%;
  padding: 4px;
  padding-right: 6px;
  padding-top: 4px;
  text-align: left;
  line-height: 1.4rem;
  text-align: right;
  color: white;
  border: 1px solid rgb(255, 69, 1);
  border-radius: 5px; 
}

.selectFundBtn:hover {
  border: 1px solid rgb(223, 255, 127);
  cursor: pointer;
  background-color: #2F363E;
}

.search-form {
  width: 200px;
  margin-left: 10%;
  margin-top: 10%;
}

input {
  width: 280px;
}

input.search {
  text-align: center;
  border: 4px solid #000;
  font-weight: 200;
  border-radius: 10px;
  font-size: 16px;
  padding: 14px;
  font-weight: 500;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(255, 188, 87, 0.19);
}

input.contactSearch {
  text-align: center;
  border: 4px solid #000;
  font-weight: 200;
  border-radius: 10px;
  font-size: 16px;
  padding: 14px;
  font-weight: 500;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(255, 188, 87, 0.19);
}

 .suggestions {
  margin-left: 5%;
  margin-bottom: 10%;
  color: white;
  font-size: 12px;
  line-height: 1.2rem;
  padding-left: 1%;
  padding-right: 3%;
  width: 350px;
} 

.contactSuggestions {
  margin-left: 2%;
  margin-bottom: 10%;
  color: white;
  font-size: 14px;
  line-height: 1.4rem;
  padding-left: 1%;
  padding-right: 3%;
  width: 250px;
}

.listResults {
  display: flex;
  width: 350px;
  margin-top: 6%;
}

span.phone {
  color: rgb(206, 206, 206);
  font-weight: 500; 
  letter-spacing: 1px;
 
  /* padding-top: 2%; */
}

span.place {
  line-height: 1.2rem;
  margin-right: 1%;
  margin-top: 1%;
  margin-left: 3%;
  /* padding: 2%; */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

span.site {
  font-size: 12px;
  color: white;
}

.hl {
  background: rgb(223, 255, 127);
  color: #000;
}

input.selectedContact {
  text-align: center;
  border: 4px solid #000;
  font-weight: 200;
  border-radius: 10px;
  font-size: 16px;
  padding: 14px;
  font-weight: 500;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(255, 188, 87, 0.19);
}

.contact-list {
  margin-left: 5%;
  width: 400px;
  background-color: #2F363E;
  color: #fff;

}

.contact-detail {
  background-color: rgb(63, 74, 87);
  color: #fff;
  border: 1px solid rgb(255, 69, 1);
  border-radius: 5px;
  margin-top: 5%;
  margin-left: 4%;
  cursor: pointer;
  text-align: left;
}

.contact-detail:hover {
  border: 1px solid rgb(223, 255, 127);
  cursor: pointer;
  background-color: #2F363E;
}

.chosen-contacts {
  width: 380px;
  margin-left: 12%;
  margin-top: 4%;
}

.chosen-contactsNames {
  width: 380px;
  margin-top: 2%;
  font-size: 12px;
  /* padding-top: 2%; */
  line-height: 1.2rem;
  color: #fff;
  text-transform: uppercase;
}

.remove {
  background-color: #2F363E;
  border: none;
  margin-left: 2%;
  padding-top: -1%;
}

.remove:hover {
  transform: rotate(5deg);
  cursor: pointer;
}

.goToNextTwo {
  font-size: 14px;
  background-color:  rgb(63, 74, 87);
  padding: 4px;
  text-align: center;
  line-height: 1.5rem;
  text-transform: uppercase;
  color: rgb(223, 255, 127);
  font-weight: 500;
  border: 1px solid rgb(223, 255, 127);
  border-radius: 5px; 
  transition: 0.3s;
  width: 150px;
  margin-left: 30%;
  margin-top: 40%;
}

.goToNextTwo:hover {
  border: 2px solid rgb(223, 255, 127);
  cursor: pointer;
  background-color: rgb(63, 74, 87);
}

.finalPage {
  max-width: 550px;
  max-height: 700px;
  margin-left: auto;
  margin-right: auto;
}

.buttons {
  display: flex;
  margin-left: 5%;
  margin-top: 70%;
}

.bailDiv {
  margin-right: 3%;
}

.smsDiv {
margin-left: 3%;
}

.telBail {
  text-decoration: none;
}

.callBail {
  transform: rotate(5deg);
  display: block;
  font-size: 15px;
  width: 160px;
  line-height: 1.5rem;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  padding: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
  letter-spacing: 2px;
  border: 5px solid rgb(255, 69, 1);
  border-radius: 100%; 
  margin-bottom: 4%;
}

.callBail:hover {
  cursor: pointer;
  border: 4px solid  rgb(223, 255, 127);
  background-color: #2F363E;
  color: white;
}

.storedDataInfo {
  color: white;
  font-size: 13px;
  width: 200px;
  margin-left: 6%;
  line-height: 1.6rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 5%;
}

.storedData {
  color: white;
  font-size: 13px;
  width: 200px;
  margin-left: 6%;
  line-height: 1.6rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 400;
}

.SMS {
  transform: rotate(-5deg);
  font-size: 15px;
  width: 160px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #000;
  padding: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  letter-spacing: 2px;
  line-height: 1.5rem;
  border: 4px solid rgb(255, 69, 1);
  border-radius: 100%; 
  margin-bottom: 4%;
}

.SMS:hover {
  color: white;
  cursor: pointer;
  border: 2px solid  rgb(223, 255, 127);
  background-color: #2F363E;
}

.msg {
  color: white;
  font-size: 14px;
  width: 200px;
  line-height: 1.2rem;
}

.sent {
  color: rgb(223, 255, 127);
  padding: 10px;
  width: 300px;
  margin-left: 38%;
  font-weight: 400;
  margin-top: 6%;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.alert {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.842);
  width: 350px;
  height: 400px;
  border: 3px solid rgb(223, 255, 127);
  border-radius: 5px;
}

.OnNo {
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 0;
  color: #000;
  font-size: 13px;
  width: 350px;
  padding-top: 6%;
  margin-bottom: 2%;
  margin-top: 3%;
  line-height: 1.3rem;
  padding-right: 2%;
  text-align: center;
}

.contact-listAlert {
  width: 320px;
  line-height: 1.2rem;
  font-weight: 400;
  color: #000;
  font-size: 14px;
  margin-left: 6%;
  text-align: center;
  
}

.contact-reminder {
  width: 320px;
  line-height: 1.2rem;
  font-weight: 300;
  color: #000;
  font-size: 13px;
  margin-top: 2%;
  margin-left: 8%;
  margin-bottom: 2%;
  background-color: rgb(223, 255, 127);;

}

.msgContent {
  color: rgb(237, 94, 108);
  font-size: 13px;
  margin-left: 6%;
  width: 280px;
  line-height: 1.1rem;
}

.alertBtnDiv {
  max-width: 350px;
  display: flex;
  margin-left: 15%;
  margin-top: 10%;
}

.alertBtn {
  cursor: pointer;
  font-size: 10px;
  background-color:  rgba(255, 255, 255, 0.8);
  padding: 4px;
  text-align: center;
  line-height: 1.5rem;
  text-transform: uppercase;
  color: #000;
  border: 1px solid rgb(255, 69, 1);
  border-radius: 5px; 
  transition: 0.3s;
  width: 100px;
  
}

.alertBtn:hover {
  background-color:  rgb(255, 69, 1, 0.8)
}

.alertBtnClose {
  cursor: pointer;
  font-size: 10px;
  background-color: rgba(255, 255, 255, 0.8);;
  padding: 4px;
  text-align: center;
  line-height: 1.5rem;
  text-transform: uppercase;
  color: #000;
  border: 1px solid rgb(255, 69, 1);
  border-radius: 5px; 
  transition: 0.3s;
  width: 100px;
  margin-right: 8%;
}

.alertBtnClose:hover {
  background-color:  rgb(255, 69, 1, 0.8);
}

.staySafe {
  font-weight: 500;
  text-transform: uppercase;
  color: #000;
  font-size: 15px;
  width: 300px;
  margin-top: 30%;
  margin-left: 6%;
  line-height: 1.3rem;
  text-align: center;
}

.closing {
  font-weight: 400;
  text-transform: uppercase;
  color:  rgb(255, 69, 1, 0.8);
  font-size: 14px;
  width: 250px;
  margin-top: 10%;
  margin-left: 12%;
  line-height: 1.6rem;
  text-align: center;
}