/* colors:
redOrang: #FF4C18
lightBlue-grey: #abbbe5
yellow:  #FADD20;
brown: #6B5644
pink: #FF7FF1
red: #FF0501
greeen: #63FFC4
peach: #FEA7A7

*/

body {
  background: #2F363E;
  font-family: 'helvetica neue', Lato;
  width: 100%;
  margin: 0;
}

.homePage {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.textHome {
  margin-left: 12%;
  margin-top: 25%;
}

.call {
  text-align: left;
  margin-top: 22%;
  margin-left: 12%;
  letter-spacing: 4px;
  display: block;
  width: 50px;
  background-color: rgb(255, 69, 1);
  color: #fff;
  border: 4px solid #000;
  padding: 12%;
  padding-right: 18%;
  padding-top: 22%;
  font-size: 38px;
}

.bail {
  letter-spacing: 4px;
  display: block;
  width: 100px;
  background-color: #fff;
  color: #000;
  font-size: 30px;
  padding: 8%;
  padding-right: 18%;
  padding-left: 11%;
  border: 6px solid rgb(223, 255, 127);
  margin-top: -12%;
  margin-left: 22%;
}

.me {
  letter-spacing: 4px;
  display: block;
  width: 30px;
  margin-left: 2%;
  margin-top:-10%;
  background-color: #000;
  color: white;
  font-size: 20px;
  padding: 12%;
  padding-bottom: 28%;
  border: 2px solid #fff;
}

.homeInstruction {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-left: 48%;
  margin-top: -25%;
  margin-bottom: 3%;
  color: white;
  line-height: 1.2rem;
}

.download {
  display: block;
  margin-left: 48%;
  background-color: rgb(63, 74, 87);
  border: 2px solid rgb(255, 69, 1);
  color: #fff;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 16px;
  line-height: 1.5rem;
  padding: 14px;
  width: 180px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(255, 188, 87, 0.19);
}

.download:hover {
  background-color: rgb(255, 69, 1);
  cursor: pointer;

}

.logo {
  background-color: rgb(255, 69, 1, 0.8);
  color: #2F363E;
  font-size: 20px;
  margin-top: 0;
  margin-left: 0;
  padding: 2%;
  padding-left: 5%;
  letter-spacing: 2px;
  font-size: 13px;
}

.firstPage {
  margin-top: 6%;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}

.instruction {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
  line-height: 2rem;
  font-weight: 500;
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 5%;
  width: 400px;
  margin-left: 5%;
}

.secInstruction {
  width: 370px;
  border-top: 2px dotted  rgb(223, 255, 127);
  padding-top: 8%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 200;
  line-height: 2rem;
  margin-top: 2%;
  margin-left: 12%;
  padding-right: 8%;
}

.subInstruction {
  width: 370px;
  font-size: 13px;
  font-weight: 200;
  margin-top: 2%;
  margin-left: 3%;
  line-height: 1.8rem;
  padding-left: 12%;
  padding-right:10%;
}

.start {
  margin-left: 35%;
  margin-top: 4%;
  background-color: #2F363E;
  border: 2px solid rgb(255, 69, 1);
  color: #fff;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 14px;
  line-height: 1.5rem;
  padding: 12px;
  width: 150px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(255, 188, 87, 0.19);
}

.start:hover {
  background-color: rgb(255, 69, 1);
  cursor: pointer;

}

.secondPage {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.thirdPage {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.step {
  font-weight: 300;
  text-transform: uppercase;
  margin-right: 8%;
  margin-bottom: 10%;
  padding-bottom: 0;
  color: #fff;
  font-size: 14px;
}

.selectFundBtn {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: rgb(63, 74, 87);
  margin-left: 2%;
  margin-top: 1%;
  padding: 4px;
  padding-right: 6px;
  padding-top: 4px;
  text-align: left;
  line-height: 1.5rem;
  text-align: right;
  color: white;
  border: 1px solid rgb(255, 69, 1);
  border-radius: 5px; 
}

.selectFundBtn:hover {
  border: 1px solid rgb(223, 255, 127);
  cursor: pointer;
  background-color: #2F363E;
}

.search-form {
  width: 200px;
  margin-left: 12%;
  margin-top: 10%;
}

input {
  width: 350px;
}

input.search {
  text-align: center;
  border: 4px solid #000;
  font-weight: 200;
  border-radius: 10px;
  font-size: 16px;
  padding: 14px;
  font-weight: 500;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(255, 188, 87, 0.19);
}

input.contactSearch {
  text-align: center;
  border: 4px solid #000;
  font-weight: 200;
  border-radius: 10px;
  font-size: 16px;
  padding: 14px;
  font-weight: 500;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(255, 188, 87, 0.19);
}

 .suggestions {
  margin-left: 15%;
  margin-bottom: 10%;
  color: white;
  font-size: 16px;
  line-height: 1.5rem;
  padding-left: 1%;
  padding-right: 3%;
  width: 350px;
} 

.contactSuggestions {
  margin-left: 15%;
  margin-bottom: 10%;
  color: white;
  font-size: 16px;
  line-height: 1.5rem;
  padding-left: 1%;
  padding-right: 3%;
  width: 350px;
}

.listResults {
  display: flex;
}

span.phone {
  color: rgb(206, 206, 206);
  font-weight: 500; 
  letter-spacing: 1px;
  /* padding-top: 2%; */
}

a:link {
  text-decoration: none;
  color: rgb(206, 206, 206);
  font-weight: 500; 
  letter-spacing: 1px;
  padding-top: 2%;
}

span.place {
  line-height: 1.6rem;
  margin-right: 1%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

span.site {
  font-size: 12px;
  color: white
}

.hl {
  background: rgb(223, 255, 127);
  color: #000;
}

.finalPage {
  display: flex;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.bailDiv {
  margin-left: 6%;
  margin-top: 35%;
}

.callBail {
  display: block;
  font-size: 15px;
  width: 180px;
  line-height: 1.5rem;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  padding: 20px;
  padding-top: 70px;
  padding-bottom: 70px;
  letter-spacing: 2px;
  border: 5px solid rgb(255, 69, 1);
  border-radius: 100%; 
}

.callBail:hover {
  cursor: pointer;
  border: 4px solid  rgb(223, 255, 127);
  background-color: #2F363E;
  color: white;
}

.storedData {
  color: white;
  font-size: 14px;
  width: 200px;
  margin-top: 5%;
  margin-left: 5%;

}

.smsDiv {
  margin-left: 55%;
  margin-top: -48%;
}

.SMS {
  font-size: 15px;
  width: 180px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #000;
  padding: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
  letter-spacing: 2px;
  line-height: 1.5rem;
  border: 4px solid rgb(255, 69, 1);
  border-radius: 100%; 
}

.SMS:hover {
  color: white;
  cursor: pointer;
  border: 2px solid  rgb(223, 255, 127);
  background-color: #2F363E;
}

.msg {
  color: white;
  font-size: 14px;
  width: 200px;
  line-height: 1.2rem;
  /* margin-top: 5%;
  margin-left: 10%; */
}

.sent {
  color: rgb(223, 255, 127);
  padding: 10px;
  width: 300px;
  margin-left: 38%;
  font-weight: 400;
  margin-top: 6%;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  /* border: 2px solid #fff;
  border-radius: 5px; */
}


