<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>about Shit Going Down</title>
  <script defer type="application/javascript" charset="utf-8"></script>
</head>

<body>
  <div class="generalpage">
    <div class="nav">
      <div class="upButtons">
        <a class="navBtn back" href="https://shitgoingdown.com">◄◄ </a>
        <a class="logo" href="https://www.shitgoingdown.com">www.shitgoingdown.com</a>
        <a class="navBtn nextEnd" href="#"> ► </a>
      </div>
    </div>

    <div class='about heb'>

    <div class="innerNav">
      <a href="/info/about"><h4 class="lang eng">ENGLISH</h4></a>
      <div class="aboutNav heb">
       <p class="liInner heb"> <a class="innerlink" href="#how">איך להשתמש ● </a></p>
       <p class="liInner heb"> <a class="innerlink" href="#install">איך להתקין ●</a></p>
       <p class="liInner heb"> <a class="innerlink" href="#who">מי פיתח ●</a> </p>     
    </div>
    </div>

      <div class="loglin">
        
        <p class="homeInstructionOne heb"> זהו אמצעי התראת ׳רגע אחרון׳, בו נשלחת אות מצוקה בלחיצת כפתור לחבר/ה מהימנ/ה. אם המידע זמין, הבקשה תכלול מיקום ממנו
           ההודעה נשלחה בצירוף לינק מפת גוגל</p>
          <h2 class="step heb"><span class="aboutLogo">SHIT GOING DOWN </span>
            מיועד למפגינים/ות או לכל מי שמרגיש/ה מאויימ/ת במרחב הציבורי </h2>
      </div>

      <div class="mainABout">
        <div id="how">
        <h2 class="step aboutHeb">?כיצד זה עובד</h2>
        <p class='loginInstructionTwo heb'>פשוט, במסך הראשון ניתן לבחור אפשרות התקשורת דרך שליחת
           <span class="underline about">הודעת טקסט</span> או דרך <span class="underline about">הודעת טוויטר</span> &mdash; תמיד ניתן לחזור אחורה ולהתחרט</p>
        <div class="imgabout">
          <img class="imgAbout" src="/sms/static/aboutImages/choosePath.png" alt="" height='180px' />
        </div>

        <div class="steps">
          <div class="stepsDiv">
            <div class="smsStep">
              <h3 class="step subtitle tableHeb"> <span class="with">דרך</span> הודעת טקסט </h3>
              <p class='loginInstructionTwo aboutInfoHeb'>ב <span class="underline number">2</span> צעדים פשוטים</p>
              <p class='loginInstructionTwo aboutInstructionHeb'>לאחר ההתחברות באמצעות חשבון <strong>פייסבוק</strong><br/>
                <span class="underline about"> הכנס/י</span> את שם של איש/ת הקשר, 
                <span class="underline about">בחר/י </span> את הקידומת המדינה &mdash; ישראל או ארצות הברית 
                and <span class="underline about">והקלד/י</span> את מספר הפלאפון</p>
              <img class="imgAbout" src="/sms/static/aboutImages/numbers.png" alt="" height='250px' /><br />
              <span class="loginInstructionTwo smallHeb">בכדי לערוך- פשוט יש להקליד ולשמור מחדש</span>
              <p class='loginInstructionTwo aboutInstructionHeb'> <span class="underline about">זהו! כל המידע שמור</span><br />
                בפעם הבאה שתפתח/י את האפליקציה תוכל/י לשלוח בביטחה את הודעה לאיש/ת הקשר שבחרת בלחיצת כפתור פשוטה
              </p>
            </div>

            <div class="DmStep">
              <h3 class="step subtitle tableHeb"> <span class="with">דרך</span> הודעת טוויטר </h3>
              <p class='loginInstructionTwo aboutInfoHeb'>ב <span class="underline number">3</span>צעדים פשוטים</p>
              <p class='loginInstructionTwo aboutInstructionHeb'>לאחר התחברות באמצעות <strong>טוויטר</strong><br/>
                <span class="underline about">בחר/י </span> אנשי קשר נבחרים אשר חולצו מהחשבון; ניתן לבחור כמה שתרצה/י
              </p>
                <img src="/sms/static/aboutImages/twitter.png" alt="" height='230px' /><br />
                <span class="loginInstructionTwo smallHeb">תמיד ניתן למחוק אחר כך</span>
              <p class='loginInstructionTwo aboutInstructionHeb'>באופצייה של טוויטר, השלב הבא מאפשר <span class="underline about">לבחור</span> קרן ערבות, השלב הזה מתאים יותר למדינת ארצות הברית בה האפליקציה פעילה גם כן&mdash;ניתן לדלג על אופצייה זו </p>
              <p class='loginInstructionTwo aboutInstructionHeb'> <span class="underline about">זהו! כל המידע שמור</span><br />
                בפעם הבאה שתפתח/י את האפליקציה תוכל/י לשלוח בביטחה את הודעה לאנשי הקשר שנבחרו בלחיצת כפתור פשוטה
              </p>
          </div>
        </div>
      </div>

      <div id="install">
        <div class="homescreen">
          <p class="homeInstructionOne heb"> בדרך זו בעת הצורך תהיה גישה זריזה ופשוטה אל האפליקציה ממסך הבית של המכשיר במקום מאתר אינטרנט </p>
          <h2 class="step heb"> זוהי אפליקציית ווב &mdash;אבל בהחלט ניתן <span class="underline aboutHeb">וממולץ</span> להתקין אותה על המכשיר ככל שאר האפליקציות 
          </h2>
        </div>

        <p class='loginInstructionTwo phoneHeb'><span class="underline aboutHeb">ניתן להוסיף כל אתר על מסך הבית של המכשיר בשלושה צעדים פשוטים</span></p>

        <div class="phones">
          <div class= "stepsDiv">
          <div class="smsStep">
            <h3 class="step subtitle tableHeb"> <span class="with">באמצעות</span> אנדרואיד </h3>
            <p  class='loginInstructionTwo aboutInstructionHeb'>פתח/י את האפליקציה דרך דפדפן הכרום (chrome browser)</p>
            <p  class='loginInstructionTwo aboutInstructionHeb'>לחצ/י על התפריט בצד ימין למעלה, חפש/י את שלושת הנקודת כמו בצילום</p>
            <img class="imgAbout" src="/sms/static/aboutImages/androidDotsBigger.png" alt="" height='240px' />
            <p  class='loginInstructionTwo aboutInstructionHeb'>לחצ/י על אופציית ״הוסף למסך הבית״ ("Add to Home Screen״)</p>
            <img class="imgAbout" src="/sms/static/aboutImages/androidAddHome.png" alt="" height='240px' />
          </div>

          <div class="DmStep">
            <h3 class="step subtitle tableHeb"> <span class="with">באמצעות</span> אייפון </h3>
            <p  class='loginInstructionTwo aboutInstructionHeb'>פתח/י את האפליקציה בדפדפן הסאפרי (Safari browser)</p>
            <p  class='loginInstructionTwo aboutInstructionHeb'>לחצ/י על האייקון של השתף המוכר של המכשיר (the share icone), כמו בצילום</p>
            <img class="imgAbout" src="/sms/static/aboutImages/IOSshare.png" alt="" height='240px' />
            <p  class='loginInstructionTwo aboutInstructionHeb'>לחצ/י על אופציית ״הוסף למסך הבית״ ("Add to Home Screen״)</p>
            <img class="imgAbout" src="/sms/static/aboutImages/iosAddHome.png" alt="" height='240px' />
          </div>
        </div>
      </div>
        <div class="success">
          <img class="imgSucess" src="/sms/static/aboutImages/homeScreen.png" alt="" width='120px' />
        <p class="with yay"><span class="yay">יש</span>&mdash; האפליקצייה הוספה למסך הבית על מכשירך</p>
        </div>
      </div>
    </div>

        <div id="who" class="who">
          <h2 class="step aboutusHeb">?מי מאחורי האפליקצייה הזו</h2>
          <p class='loginInstructionTwo aboutusHeb'>אנחנו זוג שמתגורר בניו יורק&mdash; האחת <a class="link about" href="https://shirin.works/" target="_blank">ישראלית</a>; 
            השני <a class="link about" href="https://github.com/Axylos" target="_blank"> אמריקאי</a> 
            שהחליט באופן עצמאי לפתח כלי שיתן טיפה יותר ביטחון מול רמת האלימות הקיצונית שנחוות בימים אלו בזעקה לשינוי
          <p class='loginInstructionTwo aboutusHeb'> מוזמנים לכתוב הצעות או אם אתם/ן נתקלים/ות בבעיות
            .
             או לעזרה עם הפרויקט ודיווח על תקלות<a class="link about" href="https://github.com/Axylos/shit-going-down"
              target="_blank"> <br/> https://github.com/Axylos/shit-going-down</a></p>
          <p class='loginInstructionTwo aboutusHeb'> לשאלות או מידע נוסף <br/><a class="link about"
              href=" mailto:shirinanlen@gmail.com " target="_blank"> shirinanlen@gmail.com </a></p>
        </div>
        <p class="homeInstructionOne thank">תודה שאתם/ן לוקחו/ת חלק בלהפוך את הקהילה שלנו לחזקה יותר ♡
        </p>
      </div>

    </div>

  </div>
</body>

</html>