<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://www.shitgoingdown.com/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>about Shit Going Down</title>
  <script defer type="application/javascript" charset="utf-8"></script>
</head>

 <body>
  <div class="generalpage">
    <div class="nav">
      <div class="upButtons">
        <a class="navBtn back" href="https://shitgoingdown.com">◄◄ </a>
        <a class="logo" href="https://www.shitgoingdown.com">www.shitgoingdown.com</a>
        <a class="navBtn nextEnd" href="#"> ► </a>
      </div>
    </div>

    <div class='thirdPage'>
      <h2 class="step subtitle">SHIT GOING DOWN IS For protesters or anyone who feels threatened in public. </h2>
      <p class ="homeInstructionOne about"> It provides a means to trigger a last-minute alert to a trusted friend or contact with a request for help. 
        If available, the alert will contain a location via Google Maps and optionally a local bail fund that may be able to provide assistance.</p>
      
        <div class="mainABout">

        <h2 class="step subtitle">How Is It Works?</h2>
          <p class='loginInstructionTwo save'>Shit Going down allows you to send either an <storng>SMS</storng> to your friend or a <strong>Twitter DM</strong>. <br/>
          You have the choice to decide which one on the first screen. (No worries, you can always go back and choose again)</p>
          <img src="/sms/static/aboutImages/choosePath.png" alt="" height='200px'/>

        <div class="steps">

          <div class="smsStep">
            <h3 class="step subtitle">SMS</h3>
            <p class='loginInstructionTwo links'>in three simple steps</p>
            <p class='loginInstructionTwo links'>1 ● Log in with <strong>Facebook - </strong> </p>
            <p class='loginInstructionTwo links'>2 ● Then, you will need to type the number and name of your contact, <span class="underline">and that is it! </span>
             </br> Want to edit the contact? - no problem! Just type a new name and a new number and save it again!</p>
            <p class='loginInstructionTwo links'>3 ● You are all set  - close the app until you need it. <br/> 
              Next time you open it, you can just press the button for sending SMS to your chosen friend. 
              <br/> (the one on the last screen) </p>
          </div>

          <div class="DmStep">
            <h3 class="step subtitle">Twitter DM</h3>
            <p class='loginInstructionTwo links'>in four simple steps</p>
            <p class='loginInstructionTwo links'>1 ● Log in with <strong>Twitter - </strong> </p>
            <p class='loginInstructionTwo links'>2 ● Choose your contacts that were retrieved from your Twitter account; you can choose as you would like!
              <br/> You can delete them after you choose - no problem! </p>
            <p class='loginInstructionTwo links'>3 ● In this option, you also get an option to choose a Bail fund in the USA area.<br/> You can skip that if that irrelevant for you. </p>
            <p class='loginInstructionTwo links'>4 ● You are all set  - close the app until you need it. If you need it, open and press the button for sending DM.
              <br/> (the one on the last screen) </p>
          </div>

        </div>

        <h2 class="step subtitle">We want you to find the app fast</h2>
        <h2 class="step subtitle">How to install it like any other app on your device?</h2>
        <p class='loginInstructionTwo save'>As we wanted shit going doen to be acessible as possible therefore we developed it as a web APP. <br/> 
           what means, that the way to install it on your device is by adding it through the browser menu. 
          <br/>In that case, it will appear like any other app on your device, and you will be able to find it quickly in time of need! </p>
      
          <p class='loginInstructionTwo links'>here is how you do it in three simple steps</p>  

        <div class="phones">
          <div class="smsStep android">
            <h3 class="step subtitle">ANDROID</h3>
            <p class='loginInstructionTwo links'>1 ● Open the app on your mobile chrome browser.</p>
            <p class='loginInstructionTwo links'>2 ● Tap on the menu on the right top side (look for the three dots).</p>
            <img src="/sms/static/aboutImages/androidDotsBigger.png" alt="" height='220px'/>
            <p class='loginInstructionTwo links'>3 ● And tap on the “Add to Home Screen.”</p>
            <img src="/sms/static/aboutImages/androidAddHome.png" alt="" height='220px'/>
          </div>

          <div class="smsStep ios">
            <h3 class="step subtitle">iPHONE</h3>
            <p class='loginInstructionTwo links'>1 ● On your iOS device, Open the app on your mobile Safari browser.</p>
            <p class='loginInstructionTwo links'>2 ● Click the share icon in the browser.</p>
            <img src="/sms/static/aboutImages/androidDotsBigger.png" alt="" height='220px'/>
            <p class='loginInstructionTwo links'>3 ● Select the option "Add to Home Screen."</p>
            <img src="/sms/static/aboutImages/androidAddHome.png" alt="" height='220px'/>
          </div>
        </div> 
        
        <div class="who">
        <h2 class="step subtitle">Who is behind this?</h2>
        <p class='loginInstructionTwo save'>Shit Going Down is an independent initiative, developed by a couple based in New York.<br/> 
          One is an <a class="link info" href="https://shirin.works/" target="_blank">Israeli</a>; the other is an <a class="link info" href="https://github.com/Axylos"  target="_blank"> American</a> that were bothered, inspired, and concerned by the situation and violence that protests need to deal with, both in Israel and the USA.</p>

        <p class="loginInstructionTwo links"> Please let us know if you have any further suggestions or run in problems. <br/>
          For contributing and opening issues:<a class="link info" href="https://github.com/Axylos/shit-going-down" target="_blank">https://github.com/Axylos/shit-going-down</a></p>
          <p class="loginInstructionTwo links"> For questions and further information:<a class="link info" href=" mailto:shirinanlen@gmail.com " target="_blank"> shirinanlen@gmail.com </a></p>
        </div>
        <p class ="homeInstructionOne about">Thank you for helping your friends and making our community stronger !!</p>
        

      </div>

    </div>

  </div>
 </body>
</html>