<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>about Shit Going Down</title>
  <script defer type="application/javascript" charset="utf-8"></script>
</head>

<body>
  <div class="generalpage">
    <div class="nav">
      <div class="upButtons">
        <a class="navBtn back" href="https://shitgoingdown.com">◄◄ </a>
        <a class="logo" href="https://www.shitgoingdown.com">www.shitgoingdown.com</a>
        <a class="navBtn nextEnd" href="#"> ► </a>
      </div>
    </div>

    <div class='about'>

    <div class="innerNav">
      <h4 class="lang">HEBREW</h4>
      <div class="aboutNav">
        <ui>
       <li class="liInner"> <a class="innerlink" href="#how">HOW TO USE </a></li>
       <li class="liInner"> <a class="innerlink" href="#install">HOW TO INSTALL</a></li>
       <li class="liInner"> <a class="innerlink" href="#who">WHO BEHIND THIS </a></li> 
      </ui>
    </div>
    </div>

      <div class="loglin">
        <h2 class="step subtitle"><span class="aboutLogo">SHIT GOING DOWN </span>is For protesters or anyone who feels threatened in public. </h2>
        <p class="homeInstructionOne about"> It provides a means to trigger a last-minute alert to a trusted friend or
          contact with a request for help.
          If available, the alert will contain a location via Google Maps and optionally a local bail fund that may be
          able to provide assistance.</p>
      </div>

      <div class="mainABout">
        <div id="how">
        <h2 class="step aboutTitle">How Is It Works?</h2>
        <p class='loginInstructionTwo about'>Simple, choose if you want to contact your emergency contact via an <span
            class="underline about">SMS</span> or a <span class="underline about">Twitter DM</span> &mdash; You can
          always go back and choose it.</p>
        <div class="imgabout">
          <img class="imgAbout" src="/sms/static/aboutImages/choosePath.png" alt="" height='180px' />
        </div>

        <div class="steps">
          <div class="stepsDiv">
            <div class="smsStep">
              <h3 class="step subtitle table"><span class="with">with</span> SMS</h3>
              <p class='loginInstructionTwo aboutInfo'>In <span class="underline number">2</span> simple steps</p>
              <p class='loginInstructionTwo aboutInstruction'>1 ● After Log in with <strong>Facebook:</strong>
                <span class="underline about">Enter</span> your contact name, 
                <span class="underline about">Choose</span> the country code [Israel /  USA] 
                and <span class="underline about">Type</span> their mobile phone number.</p>
              <img class="imgAbout" src="/sms/static/aboutImages/numbers.png" alt="" height='250px' /><br />
              <span class="loginInstructionTwo smallAbout">Want to edit the contact? - Just type and save again!</span>
              <p class='loginInstructionTwo aboutInstruction'>2 ● <span class="underline about">You are all
                  set</span><br />
                The information is saved &mdash; next time you open the App you can safely send the SMS to your friend on the button screen.
              </p>
            </div>

            <div class="DmStep">
              <h3 class="step subtitle table"><span class="with">with</span> Twitter DM</h3>
              <p class='loginInstructionTwo aboutInfo'>In <span class="underline number">3</span> simple steps</p>
              <p class='loginInstructionTwo aboutInstruction'>1 ● After Log in with <strong>Twitter:</strong>
                <span class="underline about">Choose</span> your contacts that were retrieved from your Twitter account; you can choose as you would like!</p>
                <img src="/sms/static/aboutImages/twitter.png" alt="" height='230px' /><br />
                <span class="loginInstructionTwo smallAbout">You can always delete them after you choose</span>
              <p class='loginInstructionTwo aboutInstruction'>2 ● The Twitter option provide you the possibility to <span class="underline about">Choose</span> a Bail fund in the
                USA area &mdash; You can skip that if this irrelevant for you. </p>
              <p class='loginInstructionTwo aboutInstruction'>3 ● <span class="underline about">You are all set</span>
                The information is saved &mdash; next time you open the App you can safely DM your friend on the button screen.</p>
            </div>
          </div>
        </div>
      </div>

      <div id="install">
        <div class="homescreen">
          <h2 class="step subtitle">This is a web App &mdash; but you can still install it like any other app on your device!</h2>
          <p class="homeInstructionOne about"> That way you would be able to quicly find and access it from your mobile's 
            home screen when you need it, instead of typing the URL in time of distress</p>
        </p>
        </div>

        <p class='loginInstructionTwo phoneInfo'><span class="underline about">here is how you do it in three simple steps:</span></p>

        <div class="phones">
          <div class= "stepsDiv">
          <div class="smsStep">
            <h3 class="step subtitle phone"><span class="with">using</span> ANDROID</h3>
            <p class='loginInstructionTwo aboutInstruction'>1 ● Open the app on your mobile chrome browser.</p>
            <p class='loginInstructionTwo aboutInstruction'>2 ● Tap on the menu on the right top side (look for the three dots).
            </p>
            <img class="imgAbout" src="/sms/static/aboutImages/androidDotsBigger.png" alt="" height='240px' />
            <p class='loginInstructionTwo aboutInstruction'>3 ● And tap on the “Add to Home Screen.”</p>
            <img class="imgAbout" src="/sms/static/aboutImages/androidAddHome.png" alt="" height='240px' />
          </div>

          <div class="DmStep">
            <h3 class="step subtitle phone"><span class="with">using</span> iPHONE</h3>
            <p class='loginInstructionTwo aboutInstruction'>1 ● On your iOS device, Open the app on your mobile Safari browser.</p>
            <p class='loginInstructionTwo aboutInstruction'>2 ● Click the share icon in the browser.</p>
            <img class="imgAbout" src="/sms/static/aboutImages/IOSshare.png" alt="" height='240px' />
            <p class='loginInstructionTwo aboutInstruction'>3 ● Select the option "Add to Home Screen."</p>
            <img class="imgAbout" src="/sms/static/aboutImages/iosAddHome.png" alt="" height='240px' />
          </div>
        </div>
      </div>
        <div class="success">
        <p class="with yay"><span class="yay">YAY!</span> the APP has been added to your home screen</p>
          <img class="imgSucess" src="/sms/static/aboutImages/homeScreen.png" alt="" width='100px' />
        </div>
      </div>
    </div>

        <div id="who" class="who">
          <h2 class="step aboutus">Who is behind this?</h2>
          <p class='loginInstructionTwo aboutus'>Shit Going Down is an independent initiative, developed by a couple based
            in New York. One is an <a class="link about" href="https://shirin.works/" target="_blank">Israeli</a>; 
            the other is an <a class="link about" href="https://github.com/Axylos" target="_blank"> American</a> 
            that were bothered, inspired, and concerned by the situation and violence that protests need to deal with, both in Israel and
            the USA.</p>

          <p class='loginInstructionTwo aboutus'> Please let us know if you have any further suggestions or run in
            problems. <br />
            For contributing and opening issues:<a class="link about" href="https://github.com/Axylos/shit-going-down"
              target="_blank">https://github.com/Axylos/shit-going-down</a></p>
          <p class='loginInstructionTwo aboutus'> For questions and further information:<a class="link about"
              href=" mailto:shirinanlen@gmail.com " target="_blank"> shirinanlen@gmail.com </a></p>
        </div>
        <p class="homeInstructionOne thank">Thank you for helping your friends and making our community stronger ♡</p>
      </div>

    </div>

  </div>
</body>

</html>