<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://www.shitgoingdown.com/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <title>Contact_summary</title>
  </head>
  <body>
    <div class="infoPage">
      <div class="topLogo">
        <a class="link Logo" href="https://www.shitgoingdown.com"><h3 class="logo two">SHIT GOING DOWN COM</h3></a>
        <p class="loginInstructionTwo info">contact your trusty friends at the push of a button</p>
      </div>
      <div class="msgInfo">
        <h2 class="step info">Hey <%= contactName %>!</br> <%= fbName %> needs assistance</h2>
        <p class="loginInstructionTwo links"> <a class="link info" href="<%= fbUrl %>">● message them via their public facebook profile.</a></p>
        <% if (mapUrl !== null) { %>
       	  <p class="loginInstructionTwo links"><a  class="link info" href="<%= mapUrl %>">● Click here for a google map from where the message was sent.</a></p>
        <% } %>
      </div>
      <h2 class="homeInstructionOne info">Stay safe</br> and thank you for caring for your friends ♡</h2>
    </div>
  </body>
</html>
