<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/style.css">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Shit Going Down</title>
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
  <script defer type="application/javascript" charset="utf-8">
    window.onload = () => {
      const nameInput = document.querySelector('input#contact');
      const smsInput = document.querySelector('input#contact-sms');
      const storedPhone = localStorage.getItem('sgdPhone');
      const storedName = localStorage.getItem('sgdContactName');
      let selectCountry = localStorage.getItem('sgdCountryCode');

      if (storedPhone !== null) {
        smsInput.value = storedPhone;
      }

      if (storedName !== null) {
        nameInput.value = storedName;
      }

      if (selectCountry !== null) {
        const el = document.querySelector('#' + selectCountry);
        el.parentElement.parentElement.querySelector('span').textContent = el.textContent;
        el.parentElement.parentElement.querySelector('input').value = el.id;
      }

      smsInput.addEventListener('input', () => {
        smsInput.setCustomValidity('');
        smsInput.checkValidity();
      })

      smsInput.addEventListener('invalid', () => {
        smsInput.setCustomValidity('Please enter a 10 digit phone number with no dashes or parentheses');
      })

      function showValidation() {
        document.querySelector('.validation-error').style.visibility = 'visible';
      }

      const form = document.querySelector('form');
      form.onsubmit = (ev) => {
        ev.preventDefault();
        const data = new FormData(form);
        const phone = data.get('phone');
        const name = data.get('selectedContact');
        if (!phone || !name || !selectCountry) {
          showValidation();
          return;
        }
        window.localStorage.setItem('sgdPhone', phone);
        window.localStorage.setItem('sgdContactName', name);
        window.localStorage.setItem('sgdCountryCode', selectCountry);
        const modal = document.querySelector('.modal');
        modal.style.visibility = 'visible';
        const btn = document.querySelector('.goToNextTwo.sms');
        btn.style.visibility = 'hidden';
        //window.location = "/sms/sender"
      }

      /*Dropdown Menu*/
      $('.dropdown').click(function () {
        $(this).attr('tabindex', 1).focus();
        $(this).toggleClass('active');
        $(this).find('.dropdown-menu').slideToggle(300);
      });
      $('.dropdown').focusout(function () {
        $(this).removeClass('active');
        $(this).find('.dropdown-menu').slideUp(300);
      });
      $('.dropdown .dropdown-menu li').click(function () {
        $(this).parents('.dropdown').find('span').text($(this).text());
        $(this).parents('.dropdown').find('input').attr('value', $(this).attr('id'));
      });
      $('.dropdown-menu li').click(function () {
        var input = $(this).parents('.dropdown').find('input').val()
        selectCountry = input;
      });
      /*End Dropdown Menu*/
    }
  </script>
</head>

<body>
  <div class="generalpage">

    <div class="containNav">
      <div class="nav">
        <div class="upButtons">
          <a class="navQuestion" href="/info/about"> ? </a>
          <a class="logo" href="https://www.shitgoingdown.com">www.shitgoingdown.com</a>
          <a class="navBtn nextEnd" href="#"> ► </a>
        </div>
      </div>
      <a class="navBtn back" href="https://shitgoingdown.com">◄◄ </a>
    </div>

    <div class='thirdPage sms'>
      <form class="search-form" action="#" autocomplete="off">
        <h2 class="step sms">Save a friend you would like to SMS</h2>
        <div class="divMsg">
          <label for="selectedContact">NAME:</label>
          <input class="smsName" name="selectedContact" id="contact" type="text" required />
          <p class='loginInstructionTwo edit'>retype to edit</p>
          </br>
          <p class="validation-error">Phone Number with country code and contact name are all required</p>
          <div class="names">
            <div class="inputs">
              <div class="container">
                <div class="dropdown">
                  <div class="select">
                    <span>Country Code</span>
                    <i class="fa fa-chevron-left"></i>
                  </div>
                  <input type="hidden" name="country">
                  <ul class="dropdown-menu">
                    <li id="Israel">Israel (+972)</li>
                    <li id="USA">USA (+1)</li>
                  </ul>
                </div>
                <span class="msg"></span>
              </div>
              <input class="smsTel" type="tel" pattern="^0?[1-9][0-9]{9}$" required value="" name="phone" id="contact-sms"
                placeholder="type 10-digit number" />
            </div>
          </div>
          <p class='loginInstructionTwo editTwo'>type 10-digit number</p>
        </div>

        <button class="goToNextTwo sms" type="submit">SAVE</button>

        <div class="modal">
          <p class='loginInstructionTwo save'><span class="upper">this contact has been saved on your
              device!</span><br /><br />
            You can close the APP or keep going.</p>
          <div>
            <a class="goToNextTwo second" href="/sms/sender" target="_self">CONTINUE</a>
          </div>
        </div>
      </form>
    </div>

  </div>
</body>

</html>
