<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/style.css">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Shit Going Down</title>
  <script defer type="application/javascript" charset="utf-8">
    window.onload = () => {
      const form = document.querySelector('form');
      form.onsubmit = (ev) => {
        ev.preventDefault();
        const data = new FormData(form);
        const phone = data.get('phone');
        window.localStorage.setItem('sgdPhone', phone);
        const modal = document.querySelector('.modal');
        debugger;
        //window.location = "/sms/sender"
      }
    }
  </script>
</head>

<body>
  <div class="modal">
    <p>go fuck yourself</p>
  </div>
  <div class="generalpage">
    <div class="nav">
      <div class="upButtons">
        <a class="navBtn back" href="#">◄◄ </a>
        <a class="logo" href="https://www.shitgoingdown.com">www.shitgoingdown.com</a>
        <a class="navBtn next" href="#"> ► </a>
      </div>
    </div>

    <div class='thirdPage'>

      <form class="search-form" action="#" autocomplete="off">
        <h2 class="step">Save friends you would like to SMS</h2>
        <div class="divMsg">
          <div class="names">
            <label for="selectedContact">NAME:</label>
            <input class="smsName"
              name="selectedContact"
              type="text"
              required />
            </br>
            <label for="selectedContact">Number:</label>
            <input class="smsTel" type="number" required value="" name="phone" id="contact-sms" />
            <p class='loginInstructionTwo Tel'>only numbers(without&mdash;)</p>
          </div>
        </div>
        <button class="goToNextTwo sms" type="submit">SAVE</button>
      </form>
    </div>

  </div>
</body>

</html>
