<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="http://0.0.0.0:9000/style.css">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Select_contacts</title>
    <script defer type="application/javascript" charset="utf-8">
      window.onload = () => {
        const form = document.querySelector('form');
        form.onsubmit = (ev) => {
          ev.preventDefault();
          const data = new FormData(form);
          const phone = data.get('phone');
          window.localStorage.setItem('sgdPhone', phone);
          window.location = "/sms/sender"
        }
      }
    </script>
  </head>
  <body>
    <div class="generalpage">
      <div class="nav">
      <div class="upButtons">
        <a class="goBack" href="#">« back </a>
        <a class="logo" href="https://www.shitgoingdown.com">www.shitgoingdown.com</a>
        <a class="goToNext" href="#">next »</a>
      </div>
    </div>

      <div class='thirdPage'>
      <form class="search-form" action="#" autocomplete="off">
      <h2 class="step">Save friends you would like to SMS</h2>
      <div class="divMsg">
      <input class="smsName" name="selectedContact" type="text" required class="contactSearch" placeholder="type a name">
      <input class="smsTel" type="tel" required value="" name="phone" id="contact-sms" placeholder="Type a phone numer"/>
      <button class="goToNextTwo" type="submit">Save Contact</button>
    </div>
    </form>
    </div>
  </body>
</html>
