<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="http://0.0.0.0:9000/style.css">
    <title>yo</title>
    <script type="application/javascript">
      function sendMsg(phone, coords, err) {
        fetch('/sms/send', {
          method: "POST",
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({phone, coords, err})
        }).then(resp => {
          if (!resp.ok) {
            console.log('something went wrong: ', resp)
          } else {
            return resp.json();
          }
        }).then(data => {
          console.log(data);
        });
      }
      window.onload = () => {
        const button = document.querySelector('button');
        button.addEventListener('click', (ev) => {
          ev.preventDefault();
          console.log(window.localStorage.getItem('sgdPhone'));
          const phone = window.localStorage.getItem('sgdPhone');
          if ('geolocation' in navigator) {
            navigator.geolocation.getCurrentPosition(result => {
              const { latitude, longitude } = result.coords;
              sendMsg(phone, { latitude, longitude });
            }, err => {
              console.log(err);
              sendMsg(phone, null, err.message);
            }, {maximumAge:60000, timeout:5000})
          } else {
            sendMsg(phone, null);
          }
        });
      }
    </script>
  </head>
  <body>
    <div class="generalpage sms">
      <div class="nav">
        <div class="upButtons">
          <a class="goBackEnd" href="#">« back</a>
          <a class="logo" href="https://www.shitgoingdown.com">www.shitgoingdown.com</a>
        </div>
      </div>
      <div class="smsCointainer">
        <div class='smsPage'>
          <h2 class="safe sms">stay safe</h2>
          <div class='centerSMS'>
            <div class='smsDiv real'>
              <button class="SMS real">SMS</br> your </br> trusted </br> friends</button>
            </div>
          </div>
          <p class='loginInstructionTwo sms'>DRAKE INSERT HERE SMS INFORMATION</p>
        </div>
      </div>
    </div>
  </body>
</html>
