<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="/style.css">
  <title>Shit Going Down</title>
  <script type="application/javascript">
    function sendMsg(phone, coords, fbData, err) {
      document.body.append(`<div>${JSON.stringify(localStorage)}</div>`);
      fetch('/sms/send', {
        method: "POST",
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          phone,
          coords,
          fbData,
          err
        })
      }).then(resp => {
        if (!resp.ok) {
          console.log('something went wrong: ', resp)
        } else {
          return resp.json();
        }
      }).then(data => {
        console.log(data);
      });

    }
    window.onload = () => {
      const button = document.querySelector('button');
      button.addEventListener('click', (ev) => {
        ev.preventDefault();
        console.log(window.localStorage.getItem('sgdPhone'));
        const phone = window.localStorage.getItem('sgdPhone');
        const fbId = localStorage.getItem('sgdFbId');
        const fbName = localStorage.getItem('sgdName');
        if ('geolocation' in navigator) {
          navigator.geolocation.getCurrentPosition(result => {
            const { latitude, longitude } = result.coords;
            sendMsg(phone, { latitude, longitude }, { fbId, fbName });
          }, err => {
            console.log(err);
            sendMsg(phone, null, { fbId, fbName }, err.message);
          }, { maximumAge: 60000, timeout: 5000 })
        } else {
          sendMsg(phone, null, { fbId, fbName });
        }
      });
    }
  </script>
</head>

<body>
  <div class="generalpage sms">
    <div class="nav">
      <div class="upButtons">
        <a class="navBtn End" href="#">◄◄</a>
        <a class="logo" href="https://www.shitgoingdown.com">www.shitgoingdown.com</a>
        <a class="navBtn nextEnd" href="#"> ► </a>
      </div>
    </div>
    <div class="smsCointainer">
      <div class='smsPage'>
        <h2 class="safe">stay safe</h2>
        <div class='centerSMS'>
          <button class="text sms">SMS</br> your </br> trusted </br> friend</button>
        </div>
        <div class="content">
          <p class='loginInstructionTwo title'>content of SMS</br>↓↓↓↓↓↓</br></p>
          <p class='loginInstructionTwo help'>
            This message is being sent on behalf of <span class="help name">Robert Drake Talley</span>
            Please notify my friends. <a class="map" href="https://maps.google.com/?q=40.719494,-73.9886672"> 
              You can click here to see where I was around when I sent this message.</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
