<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="/style.css">
  <title>Shit Going Down</title>
  <script type="application/javascript">
    function sendMsg(phone, coords, fbData, contactName, err) {
      fetch('/sms/send', {
        method: "POST",
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          phone,
          coords,
          fbData,
          contactName,
          err
        })
      }).then(resp => {
        if (!resp.ok) {
          console.log('something went wrong: ', resp)
        } else {
          return resp.json();
        }
      }).then(data => {
        console.log(data);
      });

    }
    window.onload = () => {
      const button = document.querySelector('button');
      button.addEventListener('click', (ev) => {
        ev.preventDefault();
        console.log(window.localStorage.getItem('sgdPhone'));
        const phone = window.localStorage.getItem('sgdPhone');
        const contactName = window.localStorage.getItem('sgdContactName')
        const fbId = localStorage.getItem('sgdFbId');
        const fbName = localStorage.getItem('sgdName');
        if ('geolocation' in navigator) {
          navigator.geolocation.getCurrentPosition(result => {
            const { latitude, longitude } = result.coords;
            sendMsg(phone, { latitude, longitude }, { fbId, fbName }, contactName);
          }, err => {
            console.log(err);
            sendMsg(phone, null, { fbId, fbName }, contactName, err.message);
          }, { maximumAge: 60000, timeout: 5000 })
        } else {
          sendMsg(phone, null, { fbId, fbName }, contactName);
        }

        document.querySelector('.sms-modal').style.visibility = 'visible';
        document.querySelector('.text.sms').style.visibility = 'hidden';
      });
    }
  </script>
</head>

<body>
  <div class="generalpage sms">
    <div class="nav">
      <div class="upButtons">
        <a class="navBtn End" href="/sms/select-contacts">◄◄</a>
        <a class="logo" href="https://www.shitgoingdown.com">www.shitgoingdown.com</a>
        <a class="navBtn nextEnd" href="#"> ► </a>
      </div>
    </div>
    <div class="smsCointainer">
      <div class='smsPage'>
        <h2 class="safe sms">stay safe</h2>
        <div class='centerSMS'>
          <h2 class="sms-modal" >message sent!</h2>
          <button class="text sms"> <span class="click sms">Click to</span></br> SMS</br> your friend</button>
       
        </div>
          <div class="content">
          <p class='loginInstructionTwo title'>content of SMS</br>↓↓↓↓↓↓</br></p>
          <p class='loginInstructionTwo help'>{your friend name}, <span class="help name">{your name}</span> listed you as an emergency contact and may be in distress at a protest.
          Please contact them. <span class="map">Their location: {attached URL}.</span></p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
