<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>SMS</title>
  <link rel="stylesheet" href="/style.css">

  <script type="module" defer src="/sms/static/fb.js" charset="utf-8"></script>
</head>

<body>
  <div class="fb-login-button" 
    data-max-rows="2" 
    data-size="large" 
    data-button-type="login_with"
    data-auto-logout-link="false" 
    data-use-continue-as="true" 
    data-scope="public_profile,email"
    onlogin="checkLoginState">
    <button class="btnLogin sms" onclick="checkLoginState()">
      <span class='loginInstruction'>to manuly save &amp; SMS friends.</span></br>
    </button>
  </div>
</html>
