<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>SMS</title>
  <link rel="stylesheet" href="/style.css">

  <script type="module" defer src="fb.js" charset="utf-8"></script>
</head>

<body>
  <!-- <fb:login-button class="fb"
      scope="public_profile,email"
      onlogin="checkLoginState();">
      </fb:login-button> -->
  </a>
</body>

<script>
  (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.10&appId=<?php echo $fbAppId ?>';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<div class="fb-login-button" 
  data-max-rows="2" 
  data-size="large" 
  data-button-type="login_with"
  data-auto-logout-link="false" 
  data-use-continue-as="true" 
  data-scope="public_profile,email"
  onlogin="theChampAuthUserFB">
  <button class="btnLogin sms" onclick="location.href='/sms/select-contacts'">
    <span class='loginInstruction'>to manuly save & SMS friends.</span></br>
  </button>
</div>

</html>