<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>SMS</title>
    <link rel="stylesheet" href="https://tweeters.site/style.css">

    <script type="module" defer src="fb.js" charset="utf-8"></script>
  </head>
  <body>
    <h1>why hello you</h1>
    <a href="/sms/select-contacts">Select Contacts</a>
    <fb:login-button
      scope="public_profile,email"
      onlogin="checkLoginState();">
      </fb:login-button>
  </body>
</html>
